{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block content %}
<form class='main-form auth-form' action="{% url 'auth:login' %}" method="post">
    {% csrf_token %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
    {{ login_form }}
    <br>
    <input class='main-form-submit-button auth-button' type="submit" value="ВОЙТИ">
</form>

<div class="main-form">ИЛИ</div>

<ul class="ul-login auth-login">
    <li><a class="register" href="{% url 'auth:register' %}">ПРИСОЕДИНИТЬСЯ</a></li>
    <li><a class="register vk-login" href="{% url 'social:begin' 'vk-oauth2' %}?next=/">ВОЙТИ ЧЕРЕЗ VK</a></li>
</ul>

{% endblock %}
