a {
    text-decoration: none;
    font-family: monospace;
}

input {
    outline: none;
    border: none;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    min-height: 800px;
}

.header {
    display: flex;
    max-width: inherit;
    max-height: 250px;
    margin: 20px 60px 10px 60px;
}

.logo-img {
    height: 70px;
}

.register,
.register:hover,
li > a,
li > a:hover,
.promo > a,
.promo > a:hover,
.main-form-submit-button,
.main-form-submit-button:hover {
    transition: 0.3s;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.ul-menu,
.ul-login {
    display: flex;
}

li > a {
    display: block;
    margin: auto 12px;
    color: #212121;
    font-size: 11pt;
    font-weight: 100;
}

li > a:hover {
    color: #ff8148;
}

.ul-menu > li,
.ul-login > li {
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;

}

.register {
    border: 1px solid #ff8148;
    border-radius: 4px;
    padding: 8px;
}

.register:hover {
    background-color: #ff8148;
    color: #fff;
    box-shadow: 0 4px 18px #ffbe4a;
}

.main {
    min-height: 600px;
}

.banner-1 {
    display: flex;
    justify-content: space-between;
    background-color: #030227;
    margin: 20px 0;
    box-shadow: 0 6px 24px #aaa;

}

.banner-1-img {
    height: 400px;
}

.promo {
    align-content: center;
    text-align: center;
    width: 100%;
    position: relative;
}

.promo > h3 {
    color: #ff8148;
    font-size: 24pt;
    font-weight: 700;
    font-family: sans-serif;
    margin: 100px 0 40px 0;
}

.promo > p {
    color: white;
    font-family: sans-serif;
}

.promo > a {
    display: block;
    width: 300px;
    margin: 48px auto;
    padding: 10px;
    color: white;
    background-color: #ff8148;
    font-size: 18pt;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 20px;
}

.promo > a:hover {
    background-color: #ff6747;
    box-shadow: 0 6px 48px #ff8148;
}

.promo > a:active {
    box-shadow: 0 6px 84px #ff8148;
}

.main-form {
    min-width: 320px;
    display: flex;
    justify-content: center;
    margin: 100px auto;
}


.main-form-input-area {
    display: flex;
    border-radius: 8px;
    border: 1px solid #212121;
    padding: 4px 10px;
    margin: 10px;
}

.main-form-submit-button {
    display: flex;
    margin-top: 10px;
    display: block;
    height: 40px;
    width: 100px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ff8148;
    color: black;
    margin: 10px;
}

.main-form-submit-button:hover {
    background-color: #ff8148;
    color: #fff;
    box-shadow: 0 4px 18px #ffbe4a;
    cursor: pointer;
}

.data-post {
    margin: 10px;
}

.post-element {
    border: 1px solid #ddd;
    width: 400px;
    height: fit-content;
    border-radius: 8px;
    margin: 15px auto;
    padding: 20px;
    box-shadow: 0 4px 10px #eee;
}

.post-element-top,
.post-elements-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.post-id,
.post-date,
.post-likes,
.post-comments,
.post-reposts {
    display: flex;
    background-color: #eee;
    border-radius: 4px;
    padding: 8px;
    margin: 10px;
    font-size: 10pt;
    font-weight: 500;
    font-family: monospace;
}

.post-likes {
    color: red;
}

.icon-img {
    height: 16px;
    margin-right: 4px;
}

.post-element-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    flex-wrap: wrap;
}

.post-text {
    margin: 30px 10px;
    color: #212121;
    font-size: 10pt;
    font-weight: 100;
    font-family: sans-serif;
}
.register-only {
    margin: 100px 0;
    width: auto;
}
