<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Social Media Analytics</title>
    <link type="text/css" href="static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/"><img class="logo-img" src="static/images/logo.png" alt="social media analyics"></a>
            </div>
            <div class="header-links">
                <ul class="ul-menu">
                    <li><a href="#">ГЛАВНАЯ</a></li>
                    <li><a href="#">РЕШЕНИЯ</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                </ul>

                {% if user.is_authenticated %}
                    <ul class="ul-login">
                        <li>
                            <a href="{% url 'auth:edit' %}">
                                {{ user.first_name|default:'Пользователь' }}
                            </a>
                            <a href="{% url 'auth:logout' %}">выйти</a>
                        </li>
                    </ul>

                {% else %}

                    <ul class="ul-login">
                        <li><a href="{% url 'auth:login' %}">ВОЙТИ</a></li>
                        <li><a class="register" href="{% url 'auth:register' %}">ПРИСОЕДИНИТЬСЯ</a></li>
                    </ul>

                {% endif %}

            </div>


        </div>

        <div class="main">
        
        <div class="banner-1">
          <div class="promo">
              <h3>Я ХОЧУ</h3>
              <p>получать качественную аналитику социальных сетей</p>
              <a href="#">ЗАРЕГИСТРИРОВАТЬСЯ</a>
          </div>
           <img class="banner-1-img" src="static/images/banner-1.png" alt="">
        </div>

        </div>

        <div class="footer">

        </div>
    </div>
    <script> </script>
</body>

</html>
